name: Java Maven Build & Publish Artifact

on:
  workflow_dispatch:

jobs:
  build_test:

    runs-on: ubuntu-latest

    steps:
    - name: Setup PSE
      uses: invisirisk/pse-action@latest
      with:
        api_key: ${{ secrets.PSE_API_KEY_BUILD_TEST }}
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: Cleanup PSE
      if: always()
      uses: invisirisk/pse-action@latest

  gather_status_build_test:
    needs: build_test
    if: always()
    runs-on: ubuntu-latest
    permissions:
      checks: write
      contents: read
      packages: read
    steps:
      - name: Gather Status
        uses: invisirisk/pse-action@latest
        with:
          api_key: ${{ secrets.PSE_API_KEY_BUILD_TEST }}

   
  publish-job:
    runs-on: ubuntu-latest
    needs: build_test
    steps:
    - name: Setup PSE
      uses: invisirisk/pse-action@latest
      with:
        api_key: ${{ secrets.PSE_API_KEY_PUBLISH_JOB }}
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
    - run: mvn --batch-mode --update-snapshots verify
    - run: mkdir staging && cp target/*.jar staging
    - uses: actions/upload-artifact@v4
      with:
        name: Package
        path: staging
    - name: Cleanup PSE
      if: always()
      uses: invisirisk/pse-action@latest
  gather_status_publish-job:
    needs: publish-job
    if: always()
    runs-on: ubuntu-latest
    permissions:
      checks: write
      contents: read
      packages: read
    steps:
      - name: Gather Status
        uses: invisirisk/pse-action@latest
        with:
          api_key: ${{ secrets.PSE_API_KEY_PUBLISH_JOB }}
